django
django-allauth[socialaccount]
django-colorfield
django-environ
django-cors-headers
djangorestframework
djangorestframework-gis
dj-database-url
drf-spectacular
gunicorn
psycopg2-binary
tzdata
whitenoise[brotli]
zxcvbn
