{% extends "base.html" %}

{% load account %}
{% load i18n %}
{% load static %}
{% load tags_settings %}

{% block header %}
    {{ block.super }}
    <div id="banner" class="text-center" style="background-color: #150904;">
        <img class="img-fluid"  src="{% static 'core/img/banner.jpg' %}"/>
    </div>
{% endblock header %}

{% block content %}

     <div class="card">
        <div class="card-header">
            Hello World.
        </div>    
        <div class="card-body">
            <h5 class="card-title">
                We are a group of grumpy old men who like to meet at the pub and talk about books.
            </h5>
            <h6 class="card-subtitle text-muted">(Please sign in and use the navigation links above to do stuff.)</h6>
            <br/>
            <p class="card-text">
                We all anonymously nominate books to read.  Then one book is selected at random to discuss at the next meeting.
            </p>
            <p class="card-text">
                So far we have read <strong>{{ n_read_books }}</strong> book{{ n_read_books|pluralize }}.
                And there {{ n_unread_books|pluralize:"is,are" }} <strong>{{ n_unread_books }}</strong>  unread book{{ n_unread_books|pluralize }}.
                {% if n_unread_books > 0 %}
                    <i>We'll get to {{ n_unread_books|pluralize:"it,them" }} eventually.</i>
                {% endif %}
            </p>
            <p class="card-text">
                {% if meeting %}
                    The next planned meeting is: <strong>{{ meeting }}</strong>
                {% else %}
                    There are no planned meetings currently.
                {% endif %}
            </p>
            <p class="card-text">
                For more info, check out our <a href="https://www.facebook.com/groups/exmouthgrumpyoldmenbookclub" class="card-link">Facebook Group</a>.
            </p>
            <p class="card-text">
                That is all.
            </p>
        </div>
    </div>

{% endblock content %} 