{% extends "meetings/meeting_base.html" %}

{% load account %}
{% load i18n %}
{% load static %}
{% load tags_settings %}


{% block content %}
        
  <div class="card">
        <div class="card-header">
            Meeting Details
        </div>    
        <div class="card-body">       
            <form action="." method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                
                <br/>
                <button type="submit" class="btn btn-primary">Update</button>
   
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
            crossorigin="anonymous">
    </script>
    {{ form.media }}
{% endblock scripts %}