{% extends "meetings/meeting_base.html" %}

{% load account %}
{% load i18n %}
{% load static %}
{% load tags_settings %}

{% block content %}
    
    <div class="card">
        <div class="card-header">
            Here are some meetings.
        </div>    
        <div class="card-body">           
            <ul class="list-group">
                {% for meeting in meetings %}
                    <li class="list-group-item">
                        On <strong>{{ meeting.date }}</strong> we'll be discussing: <strong>"{{ meeting.book }}"</strong> by <strong>{{meeting.book.author}}</strong>.
                    </li> 
                {% endfor %}
            </ul>
        </div>
    </div>

    <br/>

    {% if user.is_superuser %}
        <div class="alert alert-success" role="alert">
            Hooray, you can <a href="{% url 'meeting-add' %}">add more meetings</a>!
        </div>
    {% endif %}  
       
{% endblock content %} 
