{% extends "meetings/meeting_base.html" %}

{% load account %}
{% load i18n %}
{% load static %}
{% load tags_settings %}

{% block content %}
    
    <div class="card">
        <div class="card-header">
            Here are some meetings.
        </div>    
        <div class="card-body">           
            <div class="list-group">
                {% for meeting in meetings %}
                    <a href="{% url 'meeting-detail' meeting.pk %}"  class="list-group-item list-group-item-action justify-content-between align-items-center">
                        <span>
                            On <strong>{{ meeting.date }}</strong> 
                            {% if meeting.status == meeting.MeetingStatus.PAST %} 
                                we discussed:
                            {% elif meeting.status == meeting.MeetingStatus.FUTURE %} 
                                we'll be discussing:
                            {% else %}
                                we'll be discussing:
                            {% endif %}
                            <strong>"{{ meeting.book }}"</strong> by <strong>{{meeting.book.author}}</strong>.
                        </span>
                        <!-- <span class="badge badge-pill
                            {% if meeting.status == meeting.MeetingStatus.PAST %} 
                                bg-warning 
                            {% elif meeting.status == meeting.MeetingStatus.FUTURE %} 
                                bg-info 
                            {% else %}
                                bg-secondary
                            {% endif %}">
                                {{ meeting.status }}
                        </span> -->
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <br/>

    {% if n_unread_books == 0 %}
        <div class="alert alert-info" role="alert">
            There are no unread books, so a new meeting cannot be added.
        </div>    
    {% elif user.profile.is_special %}
        <div class="alert alert-success" role="alert">
            Hooray, you can <a href="{% url 'meeting-add' %}">add more meetings</a>!
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Sorry, you cannot add any meetings.
        </div>
    {% endif %}  
       
{% endblock content %} 
