{% extends "base.html" %}

{% load account %}
{% load i18n %}
{% load static %}

{% block header %}
    {{ block.super }}
    <div id="banner" class="text-center">
        <img class="img-fluid"  src="{% static 'core/img/meetings.jpg' %}"/>
    </div>
{% endblock header %}

{% block scripts %}
    {{ block.super }}
    <script type='text/javascript'>
        $(document).ready(function() {
            // style the navbar according to the active page...
            var id = "#meetings-nav-item"
            $("#grumpy .navbar-nav").find("a.active").removeClass("active");
            $("#grumpy .navbar-nav " + id).find("a").addClass("active");
        });
    </script>
{% endblock scripts %}