<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>grumpy test</title>
</head>

<body>
    <div>Hello World.</div>
    <div>This page is purposefully boring.</div>
    <br/>
    <div>We are a group of grumpy old men near Exmouth who like to meet at the pub and talk about books.</div>
    <br/>
    <div>So far we have read {{ n_read_books }} books.</div>
    <div>There are currently {{ n_unread_books }} books waiting to be read..&nbsp;&nbsp;We'll get to them eventually.</div>
    <br/>
    <div>Our next meeting is X where we will be talking about X by X.</div>
    <br/>
    <div>Feel free to nominate some books.</div>
    <br/>
    <div>For more info check out our facebook page.</div>
    <div>If you have any questions, email X</div>
    <br/>
    <div>That is all.</div>
</body>

</html>
